.container {
  border: 2px solid black;
  text-align: center;
  margin-top: 50px;
}

.quantity {
  text-align: center;
  padding: 10px;
}

.increment {
  margin: 10px;
}
.decrement {
  margin: 10px;
}
